@font-face {
    font-family: 'MyCustomFont'; /* The name you will use in your CSS */
    src: url('./BMEuljiro10yearslater.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Ensures text remains visible while the font loads */
  }
  